@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Itim', cursive;
}
.dotBackground {
  background-color: #f6f6f6; /* 背景色 */
  background-image: radial-gradient(circle, #f0f0f0 40%, #f6f6f6 80%),
    radial-gradient(circle, #f2f2f2 10%, #f6f6f6 80%);
  background-size: 20px 20px; /* ラジアルグラデーションのサイズ */
  background-position: 0 0, 150px 150px;
  background-attachment: fixed;
  height: 1300vh;
  justify-content: center;
  align-items: center;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-from-right {
  animation: slideInFromRight 0.5s ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.slide-in-from-left {
  animation: slideInFromLeft0.5s ease-in-out;
}

.controllerImage {
  width: '100%';
  height: '100%';
  object-fit: cover;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.moveUpDown {
  animation: moveUpDown 1.2s ease infinite;
}
